<div class="row">
  <div class="col-md4 offset-md-4">
    <div class="card">
      <div class="card-body">
        <form action="/tasks/edit/{{task._id}}" method="POST">
          <div class="form-group">
            <input type="text" name="title" value="{{task.title}}" placeholder="write your title" class="form-control" autofocus>
          </div>
          <div class="form-group">
            <input type="text" name="description" value="{{task.description}}" placeholder="write a description" class="form-control">
          </div>
          <button type="submit" class="btn btn-success btn-block">
            Save
          </button>
        </form>
      </div>
    </div>
  </div>
</div>