<div class="jumbotron">
  <h1 class="display-4">Typescript App</h1>
  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit repellat similique, nihil nesciunt soluta nemo?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, iste.</p>
  <a href="#" class="btn btn-primary btn-lg">
    Task List
  </a>
</div>